* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
	overflow-y: hidden;	
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

.field {
	width: 100vw;
	height: 100vh;
	background-color: rgb(0, 96, 0);
}

.hero {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: red;
	z-index: 10;
}

.group {
	width: 150px;
	height: 150px;
}

.animal {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: white;
}

.score {
	padding: 20px;
	color: white;
	font-weight: 700;
	font-size: 20px;
	position: fixed;
}

.gate {
	width: 300px;
	height: 200px;
	background-color: yellow;
	position: absolute;
	bottom: 0;
	right: calc(50vw - 150px);
}
